body{
	padding:15px;
	margin:15px;
}

#titolo{
	font-size:32px;
	margin:15px;
	padding:15px;
	color:#565346;
}

#sottotitolo{
	font-size :25px;
	margin:15px;
	padding:15px;
}

#descrizione{
	font-size:22px;
	margin:15px;
	padding:15px;
	color:#d85120;
}

div.input input{
	font-size:25px;
	margin:25px;
	padding:8px;
	border-radius:20px;
	background-color:#44c767;
}

#finale{
	font-size:25px;
	text-align:center;
	margin:25px;
	padding:8px;
	color:red;

}

.button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:10px ;
	margin:20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}

footer {
	text-align:center;
	color:black;
	border-radius:10px;
	background-color: #e6e6e6;
	font-size:12pt;
	height: 20px;
	width: 100%;
	font-family:"arial-bold";
	margin-top:50px;
	margin-bottom:20px;
}
